    <strong>Name:</strong>
    <%= order.name %>
    <br>
    <strong>Address:</strong>
    <%= order.address %>
    <br>
    <strong>Email:</strong>
    <%= order.email %>
    <br>
    <strong>Pay type:</strong>
    <%= order.pay_type %>

</div>
