products {
  margin: 0;
  padding: 0.5em;
   a {
   padding: 0.354em 0.5em;
   border-radius: 0.354em;
   }
   table {
   border-collapse: collapse;
   }
   td {
   padding: 0.5em;
   margin: 0;
   }
  
   tr.list_line_odd {
   background-color: #effeef;
   }
   tr.list_line_even {
    background-color: #40a040;
    }
  
   td.image {
   // Hide this on mobile devices
   display: none;
  
   // Assume anything bigger than 30em
   // is a non-mobile device and can
   // fit the image.
   @media (min-width: 30em) {
   display: block;
   img {
   height: 11.3em;
   }
   }
   }
  td.description {
  h1 {
   font-size: 1.4em;
   }
   }
  
  td.actions {
   ul {
   padding: 0;
   list-style: none;
     li {
     padding: 0.5em 0.5em;
     }
     }
    }
    
     tfoot {
     td {
     padding: 0.5em 0;
     }
     }


     *
{
  box-sizing: border-box;
}
body 
{
  font-family: Verdana, sans-serif;
}
  
.image-sliderfade 
{
  display: none;
}
  
img 
{
  vertical-align: middle;
}
  
/* Slideshow container */
.container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
  
/* Caption text */
.text 
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px 15px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40%;
  background: rgba(0, 0, 0, .7);
  text-align: left;
}
  
/* The dots/bullets/indicators */
.dot 
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-color: #ddd;
  border-width: 5 px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  transition: border-color 0.6s ease;
}
  
.active 
{
  border-color: #666;
}
  
/* Animation */
.fade 
{
  -webkit-animation-name: fade-image;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-image;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade-image
{
  from {opacity: .4} 
  to {opacity: 1}
}
  
@keyframes fade-image
{
  from {opacity: .4} 
  to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{
  .text {font-size: 11px}
}
    }
    
